.header {
    height: 80px;
    width: 100%;
    background: cadetblue;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.no-display {
    display: none;
}

.display {
    display: block;
}

button {
    height: 100%;
}
